@import url("https://fonts.googleapis.com/css2?family=Asap&family=Comfortaa&family=Lobster&display=swap");

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25vh;
}

html {
  overflow-y: scroll;
}
/*.logo {
  transition: all 0.4s ease 0s;
  margin-top: 1vh;
  width: 8vw;
}

.logo:hover {
  transform: scale(1.2);
}*/

.nav_links {
  text-align: center;
  list-style: none;
}

.nav_links li {
  transition: all 0.4s ease 0s;
  display: inline-block;
  padding: 0% 10vh;
}

.nav_links li:hover {
  transform: scale(1.2);
}

.nav_links li a,
.nav_links li p {
  font-family: "lobster", sans-serif;
  font-weight: 500;
  font-size: 8vh;
  color: white;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

.nav_links li a:hover,
.nav_links li p:hover {
  color: rgb(255, 0, 0);
}

#fuss {
  padding-top: 30vh;
  text-align: center;
  font-size: 5vh;
}
#fuss a {
  font-family: "lobster", sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
