@import url("https://fonts.googleapis.com/css2?family=Asap&family=Comfortaa&family=Lobster&display=swap");

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

html {
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#spacer {
  height: 25vh;
}

header {
  max-height: 40vh;
  text-align: center;
  width: 100%;
  margin-top: 3vh;
}

li,
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav_links {
  display: inline-block;
  max-width: 100vw;
  background-color: rgba(200, 39, 46, 0);
  list-style: none;
}

.nav_links li:hover {
  transform: scale(1.2);
}

.nav_links li {
  background-color: rgba(200, 39, 46, 0);
  font-family: "lobster", sans-serif;
  font-weight: 500;
  font-size: 5vh;
  color: white;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

.nav_links li a:hover {
  color: rgb(255, 0, 0);
}

.content {
  flex: 1;
  text-align: center;
  width: 100%;
  color: rgb(212, 123, 14);
  padding-top: 7%;
  text-align: center;
}

#footer {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  z-index: 13301;
  width: 100vw;
  height: 10%;
  text-align: center;
  font-weight: 400;
  font-size: 5vh;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#footer a {
  background-color: rgba(200, 39, 46, 0);
  font-family: "lobster", sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
