html * {
  scroll-behavior: smooth;
}

body {
  font-weight: 1000;
  font-family: "Courier New", monospace;
  overflow: hidden;
}

.kanye {
  position: absolute;
  z-index: 10000;
  width: 4000px;
  height: 4000px;
  background-color: rgb(60, 60, 60);
  animation: in 3s;
  animation-fill-mode: forwards;
}

@keyframes in {
  from {
    opacity: 1;
  }
  to {
    transform: translate(100%);
  }
}

.centervert {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -200;
}

.mover1 {
  position: absolute;
  top: 250px;
}

.logboxcontain {
  padding-bottom: 50px;
  position: relative;
  bottom: 140px;
  display: flexbox;
  flex-direction: column;
  overflow: visible;
  border: 5px solid black;
  border-top-left-radius: 70px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 20px;
  animation: in2 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.logbox {
  position: relative;
  top: 52px;
}

@keyframes in2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bigger {
  position: relative;
  bottom: 30px;
  font-size: 200%;
  z-index: 400;
}

/*eingabe*/

.eingabe {
  box-sizing: border-box;
  position: relative;
  border: none;
  bottom: 20px;
  text-align: center;
}

.name {
  font-weight: 600;
  text-align: center;
  height: 30px;
  width: 140px;
  position: relative;
  box-sizing: border-box;
  outline: none;
  transition: 0.5s;
  border: none;
  border-width: 1px;
  border-radius: 5px;
  background-color: white;
}

input.name:focus {
  transition-duration: 200ms;
  text-align: center;
  width: 140px;
}

input.name:focus::placeholder {
  opacity: 0;
}

input.name:not(:placeholder-shown) {
  transition-duration: 200ms;
}

.passwort {
  top: 0px;
  font-weight: 600;
  text-align: center;
  height: 30px;
  width: 140px;
  position: relative;
  box-sizing: border-box;
  outline: none;
  transition: 0.5s;
  border: none;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
  background-color: white;
}

input.passwort:focus {
  transition: 200ms;

  text-align: center;
  width: 140px;
}

input.passwort:focus::placeholder {
  opacity: 0;
}

input.passwort:not(:placeholder-shown) {
  transition-duration: 200ms;
}

/*.farbe {
  bottom: 0px;
  height: 30px;
  width: 160px;
  position: relative;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  margin: 2px 0;
  border: none;
}*/

/*bis hier eingabe*/

#output {
  height: 60px;
  text-align: center;
  width: 360px;
  max-height: 30px;
  position: relative;
  bottom: 20px;
  z-index: 4444;
  color: red;
}

.knopf {
  position: relative;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  width: 80px;
  height: 80px;
  bottom: 20px;
  background-color: rgb(255, 0, 0);
  opacity: 1;
  transition-duration: 1s;
  animation-timing-function: 0.1s ease-in-out;
  border-radius: 50%;
}

button.knopf span {
  display: inline-block;
  position: relative;
  transition: 0.1s;
}

button.knopf span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.2s;
}

button.knopf:hover span {
  padding-right: 14px;
}

button.knopf:hover span:after {
  opacity: 1;
  right: 0;
}

.seiten {
  width: 360px;
  position: relative;
  top: 880px;
  text-align: center;
}

p1 {
  position: relative;
  bottom: 12px;
  font-size: 70px;
  z-index: 200;
}
