@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

header ul {
  max-width: 100%;
  box-shadow: 0vh 2vh 0vh 0ch #000000;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Pacifico", sans-serif;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

HEADER UL LI A {
  text-decoration: none;
  font-size: 5vw;
  color: rgb(0, 0, 0);
  transition: all 0.2s ease 0s;
}

HEADER UL LI:hover {
  transform: scale(1.1);
  cursor: default;
}

#capcontain {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cap1,
#cap2,
#cap3 {
  max-width: 50vw;
  max-height: 65vh;
  display: none;
  z-index: 3;
}
